# Carpetas de perfiles de WhatsApp
wa_perfil_*/
perfil_*/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Contraseñas y datos privados
.env

# Capturas y logs
error_*.png
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

